.content {
    margin-top: 100px;
}

.table {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
}

.addCamBtn {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    
    button {
        background-color: rgb(64, 178, 231);
        height: 30px;
        width: 150px;
        color: white;
        border-width: 0px;
        border-radius: 3px;
        font-weight: bold;
        cursor: pointer;
    }

    button:hover {
        background-color: rgb(37, 106, 138);
    }
}

.errMessageCont {
    display: flex;
    margin-top: 150px;
    justify-content: center;
    h1{
        width: max-content;
    }
}

.searchInputBody {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 40px;
}

.searchInput {
    width: 900px;
    height: 30px;
}